# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Popular Languages used
- Popular libraries used
- Open source data science tools
- Examples of basic aritmetic expressions

Some of the popular languages that Data Scientists use are:

1. SQL
2. Python
3. R
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Plotly
5. Scikit-learn

 | Data Science tools| 
 |--------------------|
 | Python |
 | Project Jupyter |
 | RStudio |
 | Apache Hadoop |
 | Apache Spark |
 | Tensor Flow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
##This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [8]:
 ##This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Tarun